__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/

db.sqlite3
*.log
local_settings.py

.env
.env.*

media/
public/media/
protected_media/
staticfiles/

.vscode/
.idea/
.DS_Store
Thumbs.db